<p class="font-bold ">enter pincode:</p>
<div class="flex justify-center py-10">

    
    <input class="bg-gray-700 rounded w-10 h-10 mx-2 text-center text-white font-bold" value="{{digit1}}" type="password" readonly>
    <input class="bg-gray-700 rounded w-10 h-10 mx-2 text-center text-white font-bold" value="{{digit2}}" type="password" readonly>
    <input class="bg-gray-700 rounded w-10 h-10 mx-2 text-center text-white font-bold"  value="{{digit3}}" type="password" readonly>
    <input class="bg-gray-700 rounded w-10 h-10 mx-2 text-center text-white font-bold"  value="{{digit4}}" type="password" readonly>
    
</div>
<button class="hover:text-red-700">enter</button>