<!--The content below is only a placeholder and can be replaced.-->

<div class="min-w-screen min-h-screen flex items-center bg-black justify-center">
<div class="w-1/2">
  <app-phaser></app-phaser>

  <!-- <div style="max-width: 500px;" class="w-1/2 mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden">
    <div class="text-center py-5 px-5 bg-gray-300">
      <h1>Welcome to {{title}}!</h1>
      <app-mission></app-mission>
    </div> -->
</div>
<div class="w-1/2 px-0 mx-0">
  <app-blockly></app-blockly>
</div>
  
</div>